body {
    background: url('https://pixabay.com/illustrations/amber-nature-water-architecture-7327252/') center center/cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}
/*button*/
.styled-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 0; /* Adjust padding for vertical alignment */
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 250px; /* Set button width to 250px */
    display: block; /* Change to block to center the button */
    margin: 0 auto; /* Center the button horizontally */
}

.styled-btn:hover {
    background-color: #2980b9;
}

.styled-btn:active {
    background-color: #1f618d;
}
